#hierroxd {
    background-image: url(../imagenes/hierroxd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}


#broncexd {
    background-image: url(../imagenes/broncexd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#plataxd {
    background-image: url(../imagenes/silver\ xd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#oroxd {
    background-image: url(../imagenes/oroxd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#platinoxd {
    background-image: url(../imagenes/platinoxd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#diamantexd {
    background-image: url(../imagenes/diamond_3.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#ascendentexd {
    background-image: url(../imagenes/ascendentexd.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#inmortalxd {
    background-image: url(../imagenes/radiantexd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#radiantexd {
    background-image: url(../imagenes/radiant_1.c5f2624.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}


#hierro1xd {
    background-image: url(../imagenes/hierroxd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
   
}


#bronce1xd {
    background-image: url(../imagenes/broncexd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#plata1xd {
    background-image: url(../imagenes/silver\ xd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#oro1xd {
    background-image: url(../imagenes/oroxd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#platino1xd {
    background-image: url(../imagenes/platinoxd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#diamante1xd {
    background-image: url(../imagenes/diamond_3.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#ascendente1xd {
    background-image: url(../imagenes/ascendentexd.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#inmortal1xd {
    background-image: url(../imagenes/radiantexd.webp);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}

#radiante1xd {
    background-image: url(../imagenes/radiant_1.c5f2624.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 110px;
    background-size: 50px 50px;
    background-position: center;
}