#hierroxd {
    background-image: url(../imagenes/hierroxd.webp);
}


#broncexd {
    background-image: url(../imagenes/broncexd.webp);

}

#plataxd {
    background-image: url(../imagenes/silver\ xd.webp);
}

#oroxd {
    background-image: url(../imagenes/oroxd.webp);
  
}

#platinoxd {
    background-image: url(../imagenes/platinoxd.webp);
  
}

#diamantexd {
    background-image: url(../imagenes/diamond_3.webp);
   
}

#ascendentexd {
    background-image: url(../imagenes/ascendentexd.png);
 
}

#inmortalxd {
    background-image: url(../imagenes/radiantexd.webp);
  
}

#radiantexd {
    background-image: url(../imagenes/radiant_1.c5f2624.png);
}


#hierro1xd {
    background-image: url(../imagenes/hierroxd.webp);
  
}


#bronce1xd {
    background-image: url(../imagenes/broncexd.webp);
  
}

#plata1xd {
    background-image: url(../imagenes/silver\ xd.webp);
    
}

#oro1xd {
    background-image: url(../imagenes/oroxd.webp);
    
}

#platino1xd {
    background-image: url(../imagenes/platinoxd.webp);
    
}

#diamante1xd {
    background-image: url(../imagenes/diamond_3.webp);
    
}

#ascendente1xd {
    background-image: url(../imagenes/ascendentexd.png);
   
}

#inmortal1xd {
    background-image: url(../imagenes/radiantexd.webp);
    
}

#radiante1xd {
    background-image: url(../imagenes/radiant_1.c5f2624.png);
   
  
}